.well item {
    border: solid 2px rgba(155,155,155,.5);
    margin-bottom: 1em;
}


.front-page-container {
    display: flex;
    justify-content: space-evenly;
}

.spacer{
    height: 30%;
}

.nav-item-left{
    right: auto;
}