.well item {
    border: solid 2px rgba(155,155,155,.5);
    margin-bottom: 1em;
}


.front-page-container {
    display: flex;
    justify-content: space-evenly;
}

.spacer{
    height: 30%;
}

.nav-item-left{
    right: auto;
}

.container {
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 6em;
    border:solid lightgrey 1.5px;
    background-color: #F5F5F5;
}

.user-profile {
    display: block;
}

