<div class="col-sm-6 d-flex align-items-stretch">
    <div id="message-container" class="card" style="width: 20rem; margin-top: 50px">
        <div class="card-body" >
            <h5 class="card-title">{{ message.subject_header }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">From: <a href="/user/profile/{{ message.sender.id }}">{{ message.sender }}</a></h6>
            <h6 class="card-subtitle mb-2 text-muted">Date sent: {{ message.date_sent }} </h6>
            <p class="card-text">{{ message.message_content }}</p>
            <a href="/messages/{{ message.id }}" class="card-link">Open</a>
            {% if message.sender.username != "Notifications" %}
                <a href="/messages/reply/{{ message.sender.id }}" class="card-link">Reply</a>
            {% endif %}

            <a href="/del/{{ message.id }}" class="card-link" >Delete</a>

        </div>
    </div>
</div>



