{% extends 'base.html' %}
{% block content %}
    <div class="front-page-container">
        <div class="frontpage-cards">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="input-group">
            <input type="search" class="form-control" id="search-box" placeholder="Enter your search here...">
            <div class="input-group-btn">
                <button type="button" id="search-btn" class="btn btn-default">Search</button>
            </div>

{% endblock %}
