{% extends 'base.html' %}
{% block content %}
    <div class="front-page-container">
        <div class="frontpage-cards">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Browse Item Auctions</h5>
                    <p class="card-text">Find a bargain today, millions of items for sale.</p>
                    <a href="/items" class="btn btn-primary">Browse</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="front-container">
        <h3 class="text-center">Latest Items</h3>
        <div class="row">
            {% for item in newest_items reversed %}
                {% include "item/single_item.html" with item=item %}
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}
