<h2 class="text-center">Purchase Review</h2>
<div class="row">
    <div class="col-sm-4 col-md-6 col-lg-4 d-flex align-items-stretch">
        <h3>Item Details</h3>
        <p>Item: {{ payment.bid.item }}</p>
        <p>Price: {{ payment.bid.bid_amount }}</p>
        <p>Seller: {{ payment.bid.item.seller }}</p>
    </div>

    <div class="col-sm-4 col-md-6 col-lg-4 d-flex align-items-stretch">
        <h3>Payment Details</h3>
        <p>Card Holder: {{ payment.name }}</p>
        <p>Card Number: {{ payment.card_nr }}</p>
        <p>Expiry Date: {{ payment.exp_date }}</p>
        <h3>Total price:</h3>
        <h3>{{ payment.bid.bid_amount }}</h3>
    </div>

</div>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="block btn btn-primary">Confirm Purchase</button>
</form>