{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form class="content-section "method="post" action="{% url "make_payment" %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4">Please enter payment information</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Auction Item</button>
            </div>
        </form>
{% endblock %}