{% extends "base.html" %}
{% block content %}
    <h2 class="text-center">Items</h2>
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here...">
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>
    <div class="text-center">
        <h6>Sort by</h6>
        <div class="btn-group center">
            <button type="button" id="sort-price-btn" class="btn btn-primary">Price</button>
            <button type="button" id="sort-name-btn" class="btn btn-primary">Name</button>
        </div>
    </div>
    <div class="items">
        <div class="row">
            {% for item in items %}
                {% include "item/single_item.html" with item=item %}
            {% endfor %}
        </div>

{% endblock %}