<div class="col-sm-4 col-md-6 col-lg-4 d-flex align-items-stretch">
    <a href="/items/{{ item.id }}">
        <div class="card" style="width: 18rem; background-color: aliceblue; margin-bottom: 1em;">
            {% if item.item_image_url %}
                <img class="card-img-top" src="{{ item.item_image_url }}">
            {% else %}
                <img class="card-img-top" src="{{ item.item_image.url }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.highest_bid }}$</p>
                <p class="card-text"><small class="text-muted">{{ item.seller }}</small></p>

                <p class="card-text">
                    <small class="text-muted">
                        Category: <span class="badge bg-primary text-light">{{ item.category }}</span>
                    </small>
                </p>
            </div>
        </div>
    </a>
</div>


