{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form class="content-section "method="post" action="{% url "update_item" id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4">Edit Item Details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
{% endblock %}