{% extends "base.html" %}
{% load crispy_forms_tags %}
<base href="/user/profile">
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.profile_image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="vTextField">{{ user.profile.bio }}</p>
            </div>
        </div>

    {% if user == request.user %}
        <form class="content-section "method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="from-group">
                <legend class="border-bottom mb-4">Edit Profile</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>


    {% endif %}
{% endblock %}

