{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form class="content-section "method="post">
        {% csrf_token %}
        <fieldset class="from-group">
            <legend class="border-bottom mb-4">Create an account</legend>
            {{ form|crispy }}
            {{ form|as_crispy_errors }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create account</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an account?</small>
        <a href="{% url "login" %}" class="ml-2">Log in</a>
    </div>
{% endblock %}